@layer base {
  * {
    @apply border-border outline-ring/50 font-roboto;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.carousel-scrollbar {
  &::-webkit-scrollbar {
    width: 3px;
  }
  &::-webkit-scrollbar-track {
    border-radius: 0px;
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--color-white);
    border-radius: 0px !important;
    margin-left: 2px;
  }
}
