@theme inline {
  /* custom color rgb */
  --color-red-rgb: 255, 0, 0;
  --color-white-rgb: 255, 255, 255;
  --color-black-rgb: 0, 0, 0;
  --color-primary-rgb: 93, 0, 0;

  /* custom styles */
  --background-image-page-title-gradient: linear-gradient(90deg, var(--primary) 0%, #4C4C4C 20%, var(--color-black) 99.52%);
  --background-image-page-subtitle-gradient: linear-gradient(90deg, var(--color-black) 0%, #222222 48.08%);
  --background-image-dropdown-menu-gradient: linear-gradient(180deg, var(--primary) 0%, var(--color-black) 100%);
  --background-image-product-main-intro-r-gradient: linear-gradient(270deg, rgba(var(--color-primary-rgb), 0.6) 6.65%, rgba(var(--color-black-rgb), 0.6) 100%);
  --background-image-product-main-intro-l-gradient: linear-gradient(90deg, rgba(var(--color-primary-rgb), 0.6) 12.97%, rgba(var(--color-black-rgb), 0.6) 100%);
  --background-image-main-text-gradient: linear-gradient(90deg, rgba(var(--color-black-rgb), 0.5) 0%, rgba(46, 0, 0, 0.75) 37.02%, #920000 100%);

  --background-image-home-index-03: url('/index_bt03-2.png');

  --gradient-border: linear-gradient(90deg, #1F2E35 0%, rgba(var(--color-red-rgb), 1) 100%);
  --gradient-border-card: linear-gradient(99.66deg, var(--color-black) 42.73%, rgb(var(--color-red-rgb)) 71.64%, var(--color-black) 100%);
  --gradient-border-card-image: linear-gradient(123.27deg, var(--color-black) 30.19%, rgb(var(--color-red-rgb)) 65.37%, var(--color-black) 98.58%);
  --gradient-border-subtitle: linear-gradient(90deg, var(--color-black) 0%, #ED1C24 100%);
  --gradient-border-bottom-left: linear-gradient(49deg, #B31313 13.23%, var(--color-black) 56.3%);
  --gradient-border-round-bottom-right: linear-gradient(139.64deg, var(--color-black) 70.13%, rgb(var(--color-red-rgb)) 91.71%, var(--color-primary) 101.89%, var(--color-black) 111.66%);
  --gradient-border-round-bottom-left: linear-gradient(218.19deg, var(--color-black) 74.14%, rgb(var(--color-red-rgb)) 92.88%, var(--color-primary) 101.72%, var(--color-black) 110.21%);
  
  --background-color-card: var(--card);
} 


