@theme inline {
  /* custom color rgb */
  --color-red-rgb: 255, 0, 0;
  --color-white-rgb: 255, 255, 255;
  --color-black-rgb: 0, 0, 0;
  --color-primary-rgb: 93, 0, 0;

  /* custom styles */
  --background-image-page-title-gradient: linear-gradient(90deg, var(--primary) 0%, #4C4C4C 20%, var(--color-black) 99.52%);
  --background-image-page-subtitle-gradient: linear-gradient(90deg, var(--color-black) 0%, #222222 48.08%);
  --background-image-footer-gradient: linear-gradient(180deg, rgba(var(--color-black-rgb), 0) 0%, rgba(var(--color-red-rgb), 0.27) 100%);
  --background-image-dropdown-menu-gradient: linear-gradient(180deg, var(--primary) 0%, var(--color-black) 100%);
  --background-image-product-main-intro-r-gradient: linear-gradient(270deg, rgba(var(--color-primary-rgb), 0.6) 6.65%, rgba(var(--color-black-rgb), 0.6) 100%);
  --background-image-product-main-intro-l-gradient: linear-gradient(90deg, rgba(var(--color-primary-rgb), 0.6) 12.97%, rgba(var(--color-black-rgb), 0.6) 100%);
  --background-image-product-main-section-gradient: linear-gradient(180deg, var(--color-black) 65.41%, rgba(var(--color-primary-rgb), 0.5) 100%);

  --background-image-home-index-03: url('/index_bt03-2.png');

  --gradient-border: linear-gradient(90deg, #1F2E35 0%, rgba(var(--color-red-rgb), 1) 100%);
  --gradient-border-card: linear-gradient(99.66deg, var(--color-black) 42.73%, #FF0000 71.64%, var(--color-black) 100%);
  --gradient-border-card-image: linear-gradient(123.27deg, var(--color-black) 30.19%, #FF0000 65.37%, var(--color-black) 98.58%);
  --gradient-border-subtitle: linear-gradient(90deg, var(--color-black) 0%, #ED1C24 100%);
  
  --background-color-card: var(--card);
}

